---
import Footer from "../components/Footer.astro";
import {PORTFOLIO } from "../constants/portfolio";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="relative flex flex-col bg-gradient-to-b from-dark to-black py-36 text-white">
      <div class="mb-20 container space-y-5">
        <a href="/" class="inline-flex gap-2 items-center">
          <svg class="h-[1em] w-[1em]" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"></path></svg>
          <span>Go Back</span>
        </a>
        <h2>Portfolio</h2>
      </div>
      <div class="container grid sm:grid-cols-3 gap-10">
        {PORTFOLIO.map(({ name, media, slug }) => (
          <a class="block group" href={`/portfolio/${slug}`}>
              <div class="aspect-w-4 aspect-h-3">
                <div class="bg-dark/75 text-white p-5 flex flex-col gap-5 z-10 items-center justify-center text-center backdrop-blur-[2px] transition-all duration-300 ease-in-out opacity-0 group-hover:opacity-100">
                  <h5>{name}</h5>
                  <dic class="inline-flex items-center gap-5 hover:bg-white hover:text-dark ease-in-out duration-500 transition-all px-8 py-3 text-sm border border-white rounded-full">
                    <span>View Project</span>
                    <svg class="h-[1em] w-[1em]" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path></svg>
                  </dic>
                </div>
              {media.type === "IMAGE" ? (
                <img src={media.image} alt={name} />
              ) : (
                <video src={media.video} poster={media.poster} muted autoplay loop playsinline />
              )}
            </div>
          </a>
        ))}
      </div>
  </main>
  <Footer />
</Layout>
