---
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../constants";
import {PORTFOLIO } from "../constants/portfolio";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="relative flex items-center bg-gradient-to-b from-dark to-black py-36 text-white">
        <div class="container grid sm:grid-cols-3 gap-10">
          {PORTFOLIO.map(({ name, media }) => (
            <div>
                  <div class="aspect-w-4 aspect-h-3">
                    {media.type === "IMAGE" ? (
                      <img src={media.image} alt={name} />
                    ) : (
                      <video src={media.video} poster={media.poster} muted autoplay loop />
                    )}
                  </div>
                </div>
          ))}
        </div>
    </main>
    <Footer />
  </body>
</html>
