---
import Footer from "../../components/Footer.astro";
import Layout from "../../layouts/Layout.astro";
import nextjs from "../../assets/nextjs.svg";
import tailwind from "../../assets/tailwind.svg";
import vercel from "../../assets/vercel.svg";
import trpc from "../../assets/trpc.svg";
import reactQuery from "../../assets/react-query.svg";
import stripe from "../../assets/stripe.svg";
import homepage from "../../assets/portfolio/braggn-beauty/homepage.png";
import about from "../../assets/portfolio/braggn-beauty/about.png";
import pricing from "../../assets/portfolio/braggn-beauty/pricing.png";
import singleCourse from "../../assets/portfolio/braggn-beauty/single-course.png";
---

<Layout title="Welcome to Astro.">
  <main class="relative flex flex-col bg-gradient-to-b from-dark to-black py-36 text-white">
     <div class="container mb-20">
      <a href="/portfolio" class="inline-flex gap-2 items-center">
        <svg class="h-[1em] w-[1em]" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"></path></svg>
        <span>Back to Portfolio</span>
      </a>
      <h1>Braggn Beauty</h1>
      <div class="space-y-10 mb-10 max-w-3xl">
        <p class="text-2xl font-light">Braggn Beauty is an online community and education repository for hair stylists. I built their LMS application using Next.js and TRPC, facillitating robust user management and an education API that allows users to keep track of their progress in each course. Subsequent to launching their app, Braggn Beauty has earned <strong><u>an average of $1.1 million/year in revenue</u></strong>.</p>
        <a class="inline-flex items-center gap-5 hover:bg-white hover:text-dark ease-in-out duration-500 transition-all px-8 py-3 text-sm border border-white rounded-full" href="https://braggnuniversity.com/" target="_blank">
          <span>View Website</span>
          <svg class="h-[1em] w-[1em]" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path></svg>
        </a>
      </div>
      <ul class="flex gap-4 flex-wrap">
        <li class="flex items-center space-x-2 py-2 px-4 bg-white text-dark rounded-xl text-sm">
          <img src={nextjs.src} alt="NextJS" class="h-6 w-auto" />
          <span>Next.js</span>
        </li>
        <li class="flex items-center space-x-2 py-2 px-4 bg-white text-dark rounded-xl text-sm">
          <img src={trpc.src} alt="TRPC" class="h-6 w-auto" />
          <span>TRPC</span>
        </li>
        <li class="flex items-center space-x-2 py-2 px-4 bg-white text-dark rounded-xl text-sm">
          <img src={reactQuery.src} alt="React Query" class="h-6 w-auto" />
          <span>React Query</span>
        </li>
        <li class="flex items-center space-x-2 py-2 px-4 bg-white text-dark rounded-xl text-sm">
          <img src={stripe.src} alt="Stripe" class="h-6 w-auto" />
          <span>Stripe API</span>
        </li>
        <li class="flex items-center space-x-2 py-2 px-4 bg-white text-dark rounded-xl text-sm">
          <img src={tailwind.src} alt="Tailwind" class="h-6 w-auto" />
          <span>Tailwind</span>
        </li>
        <li class="flex items-center space-x-2 py-2 px-4 bg-white text-dark rounded-xl text-sm">
          <img src={vercel.src} alt="Vercel" class="h-6 w-auto" />
          <span>Vercel</span>
        </li>
      </ul>
    </div>
    <div class="container grid sm:grid-cols-2 gap-10">
      <div class="space-y-10 flex flex-col">
        <img src={homepage.src} alt="Braggn Beauty" class="w-full h-auto rounded-lg" />
      </div>
      <div class="space-y-10 flex flex-col sm:mt-[25%]">
        <img src={singleCourse.src} alt="Braggn Beauty" class="w-full h-auto rounded-lg" />
        <img src={pricing.src} alt="Braggn Beauty" class="w-full h-auto rounded-lg" />
        <img src={about.src} alt="Braggn Beauty" class="w-full h-auto rounded-lg" />
      </div>
    </div>
  </main>
  <Footer />
</Layout>
