---
import Footer from "../../components/Footer.astro";
import Layout from "../../layouts/Layout.astro";
import wordpress from "../../assets/wordpress.svg";
import nextjs from "../../assets/nextjs.svg";
import adobexd from "../../assets/adobe-xd.svg";
import graphql from "../../assets/graphql.svg";
import framer from "../../assets/framer.svg";
---

<Layout title="Welcome to Astro.">
  <main class="relative flex flex-col bg-gradient-to-b from-dark to-black py-36 text-white">
     <div class="container mb-20">
      <div style="max-width: 45rem" class="space-y-10 mb-10">
        <a href="/portfolio" class="inline-flex gap-2 items-center">
          <svg class="h-[1em] w-[1em]" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"></path></svg>
          <span>Back to Portfolio</span>
        </a>
        <h1>Gummy Technologies</h1>
        <p class="text-2xl font-light">Gummy Technologies is a gummy vitamin & supplement manufacturer. To deliver a fast, highly interactive user experience, I built their website using Next.js and modern animation tooling coupled with headless content delivery via Wordpress & GraphQL.</p>
      </div>
      <ul class="flex space-x-4">
        <li class="flex items-center space-x-2 py-2 px-4 bg-white text-dark rounded-xl text-sm">
          <img src={nextjs.src} alt="NextJS" class="w-6 h-auto" />
          <span>Next.js</span>
        </li>
        <li class="flex items-center space-x-2 py-2 px-4 bg-white text-dark rounded-xl text-sm">
          <img src={wordpress.src} alt="WordPress" class="w-6 h-auto" />
          <span>WordPress</span>
        </li>
        <li class="flex items-center space-x-2 py-2 px-4 bg-white text-dark rounded-xl text-sm">
          <img src={graphql.src} alt="Sass" class="w-6 h-auto" />
          <span>GraphQL</span>
        </li>
        <li class="flex items-center space-x-2 py-2 px-4 bg-white text-dark rounded-xl text-sm">
          <img src={framer.src} alt="Sketch" class="w-6 h-auto" />
          <span>Motion</span>
        </li>
        <li class="flex items-center space-x-2 py-2 px-4 bg-white text-dark rounded-xl text-sm">
          <img src={adobexd.src} alt="Adobe Photoshop" class="w-6 h-auto" />
          <span>Adobe XD</span>
        </li>
      </ul>
    </div>
    <div class="max-w-[1280px] mx-auto">
      <video src={`/portfolio/gummy-tech.mp4`} poster={`/portfolio/gummy-tech-poster.jpg`} muted autoplay loop />
    </div>
  </main>
  <Footer />
</Layout>
